.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}


/* #####################HEADER####################### */

.ustmenu {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}

.menu-navi {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
    margin-bottom: 168px;
}

.adres-icon {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 40px;
}


/* ##########################################HERO###################### */
.hero {
    background-image: image-set(
        url("../images/background-office.jpg") 1x,
        url("../images/background-office@2x.jpg") 2x
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 72px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    max-width: 216px;
    color: white;
    margin-bottom: 72px;
    text-align: center;
    z-index: 5;
}

.hero-button {
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    color: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #31D0AA;
}




.hero::before {
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #2E2F42B3;
    position: absolute;
}

.hero .hero-title,
.hero .hero-button {
    position: relative;
    z-index: 2;
}


/* #############################################STRATEGY####################### */

.texts {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    text-align: left;
}

.texts h3 {
    text-align: center;
    padding-bottom: 8px;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-style: bold;
    line-height: 1.1;
}

section {
    padding-bottom: 96px;
    padding-top: 96px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}


/* ###################TEAMCARD########################## */



.team {
    text-align: center;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-title {
    margin-bottom: 72px;
    
}

.portfolio {
    text-align: center;
}


.port-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}


.portfolio-title {
    margin-bottom: 72px;
}


.home {
    font-weight: 500;
}

.team {background-color: #F4F4FD;}

footer {
    background-color: #2E2F42;
    color: white;
 
}

.altmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 96px;
    padding-top: 96px;
    gap: 72px;
}



.team-card {
    background-color: white; 
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.box-content{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.icon-list {
    display: flex;
    gap: 16px;
    
}


.iconm {
    width: 16px;
    height: 16px;
    
}

.box {
    display: none;
}

.icon-box {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-box:hover,
.icon-box:focus {
    background-color: #31D0AA;
}

.port-box {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    text-align: left;
}

.web .logo {
    text-align: center;
}

.logo {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    justify-content: center;
}

.logo-one {
    color: #4D5AE5;
}

.logo-diffclr {
    color: #2E2F42;
}


.web {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #F4F4FD;
    
}

.social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.fly {
    width: 24px;
    height: 20px;
}

#sub-button {
    background-color: #4D5AE5;
    width: 165px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#sub-button:hover,
#sub-button:focus {
    background-color: #31D0AA;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#sub-input {
    border: 1px solid white;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: #2E2F42;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    color: white;
}

#sub-input:hover,
#sub-input:focus {
    border-color: #31D0AA;
}


#sub-input::placeholder {
    padding-left: 16px;
}

body {
    font-family: "Roboto",sans-serif ;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

h2 {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.1;
}

.burger {
    width: 24px;
    height: 24px;
}

.burger-button {
    cursor: pointer;
}


/* ################################################################################### */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 6;
    display: none;
    justify-content: center;
}

.is-open {
    display: flex;
}


.modal-overlay {
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 9px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    z-index: 7;
    background-color: white;
    padding-top: 72px;
    padding-bottom: 24px;
    margin-bottom: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-element {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="tel"],
.modal textarea {
    width: 256px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px; 
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="tel"]{
    width: 256px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding-left: 36px;
}

textarea::placeholder {
    padding-left: 16px;
}

 
.diff-element {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #8E8F99;
  line-height: 1.3;
  text-align: left;
  gap: 7.5px;
}

#comment {
    width: 256px;
    height: 120px;
}

.modal-sub {
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    border-radius: 4px;
    color: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal input[type="text"]:hover,
.modal input[type="text"]:focus{
    border-color: #31D0AA;
}

.modal input[type="tel"]:hover,
.modal input[type="tel"]:focus {
    border-color: #31D0AA;
}

.modal input[type="email"]:hover,
.modal input[type="email"]:focus {
    border-color: #31D0AA;
}

.modal textarea:focus,
.modal textarea:hover {
    border-color: #31D0AA;;
}




.modal input,
.modal textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;
}

.modal-sub:hover,
.modal-sub:focus {
    background-color: #31D0AA;
}

.form-header {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.cross {
    width: 8px;
    height: 8px;
    fill: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.quit {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E7E9FC;
    border: 1px solid #E7E9FC;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay .exit {
    display: block;
    text-align: left;
}

.input-wrap {
    position: relative;
}

.form-element svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-element input:focus+svg {
    fill: #4D5AE5;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99999;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 168px;
    justify-content: center;
    display: none;
}

.menu-yazi {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.navi {
    display: flex;
    flex-direction: row;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2E2F42;
}

.transform:hover,
.transform:focus {
    color: #404BBF;
}

.transform {
    position: relative;
}

.transform:active::after {
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
}



.adres-menu {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.adres-ust {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.16;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.menu .icon-list {
    gap: 40px;
}

.menu .icon-list .iconm {
    width: 24px;
    height: 24px;
}


address p:hover,
address p:focus {
    color: #404BBF;
}

.navi h2:hover,
.navi h2:focus {
    color: #404BBF;
}


.quit:hover,
.quit:focus {
    cursor: pointer;
    background-color: #404BBF;
    border-color: #404BBF;
}

.quit:hover .cross,
.quit:focus .cross {
    fill: #F4F4FD;
}

.img-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    left: 0;
    top: 0;
    padding: 40px 32px 164px 32px;
    color: #F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-card:hover .overlay {
    transform: translateY(0);
}

.menu-element:nth-child(3),
.menu-element:nth-child(4) {
    display: none;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    
}

.sub-yazi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



.footer-container{
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.web-social{
    display: flex;
    flex-direction: column;
    gap: 72px;
}


.box {
    position: relative;
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.icon {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.is-open {
    display: flex;
}


/* #################################DENEME############################## */




@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .texts {
        justify-content: center;
    }


    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .port-card {
        flex-basis: calc((100% - 24px) / 2);
    }


    .port-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .texts {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .text {
        flex-basis: calc((100% - 24px) / 2);
    }

    .burger-button {
        display: none;
    }


        .menu-element:nth-child(3),
        .menu-element:nth-child(4) {
            display: flex;
        }


        .hero-title {
            font-size: 56px;
            font-style: Bold;
            letter-spacing: 0.02em;
            line-height: 1.07;
            max-width: 496px;
        }

        .modal {
            display: none;
            justify-content: center;
        }

        .is-open {
            display: flex;
        }

        .form-element {
            gap: 8px;
        }

        .modal input[type="text"],
        .modal input[type="email"],
        .modal input[type="tel"] {
                
        width: 360px;
        height: 40px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 4px;
        padding-left: 36px;
        }

        #comment {
            width: 360px;
        }

        .modal-overlay{
           
            
        }
}

@media (min-width: 768px) {
    .web-social {
        display: flex;
        flex-direction: row;
        gap: 24px;
        
    }
    .web {
        align-items: baseline;
    }

    .social {
        align-items: baseline;
    }

    .footer-container {
        padding-left: 108px;
    }

    .web {
        max-width: 264px;
    }

    .footer-sub {
        display: flex;
        flex-direction: row;
    }

    .sub-yazi {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .wrap {
        display: flex;
        flex-direction: row;
        align-items: end;
    }

    .texts h3 {
        text-align: left;
    }

    .menu {
        display: none;
    }
    
}


@media (min-width: 1158px) {
    .modal-overlay {
        
        margin-bottom: auto;
        margin-top: 80px;
    }
    .hero {
        height: 600px;
    }
    .menu {
        display: none;
    }

        .transform {
            position: relative;
        }
    
        .transform:active::after {
            width: 100%;
            height: 4px;
            background-color: #404BBF;
            border-radius: 2px;
            content: "";
            position: absolute;
            left: 0;
            bottom: -24px;

        }

    .box {
        display: flex;
    }

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .ustmenu {
        justify-content: space-between;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .adres-ust {
        display: flex;
        flex-direction: row;
    }

        .port-card {
            flex-basis: calc((100% - 48px) / 3);
        }
    
    
        .port-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
        }

    .footer-container {
        padding-left: ;
        display: flex;
        flex-direction: row;
    }
    .web {
        width: 264px;
    }

    .web-social {
        gap: 120px;
    }

          .texts {
              display: flex;
              flex-wrap: wrap;
              column-gap: 24px;
          }
    
          .text {
              flex-basis: calc((100% - 72px) / 4);
          }

          .texts h3 {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: medium;
            font-size: 20px;
            letter-spacing: 0.02em;
            color: #2E2F42;
            line-height: 1.2;
          }

          .texts p {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 1.;
            letter-spacing: 0.02em;
          }
}